{% extends 'baseback.html.twig' %}
{% block content %}

    <h1>Comd</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ comd.id }}</td>
            </tr>
            <tr>
                <th>Prixtot</th>
                <td>{{ comd.prixTot }}</td>
            </tr>
            <tr>
                <th>Datecommande</th>
                <td>{% if comd.dateCommande %}{{ comd.dateCommande|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('commande_Affiche') }}">Back to the list</a>
        </li>
        <li>
            <a href="#">Edit</a>
        </li>

    </ul>
{% endblock %}
